@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700');

/* Universal styles */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  font-size: 1em;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Top portion styles */

h1 {
  font-family: 'Roboto Slab', serif;
  color: #00a79d;
  display: block;
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 3em;
}

input {
  display: block;
  margin: 0 auto;
  width: 55%;
  padding: 10px;
  font-size: 1em;
}

input[type=submit] {
  background: #00a79d;
  color: #fff;
}

input[type=submit]:hover {
  background: #045e55;
}

::placeholder {
  color: #d1d3d4;
}

.title, .body, .search {
  border: 2px solid #d1d3d4;
}

.title, .body, .save {
  margin-top: 15px;
}

.header-color {
  color: #6d6e71;
}

.top-portion {
  width: 100%;
  height: 300px;
  background: #e5f3f2;
  position: fixed;
}

/* Bottom portion styles */

h2 {
  color: #6d6e71;
}

img {
  width: 30px;
  height: 30px;
}

hr {
  border: 1px solid #d1d3d4;
}

p {
  margin-top: 0;
}

.idea {
  color: #939598;
}

.quality {
  color: #6d6e71;
}

.bottom-portion {
  width: 100%;
  height: 40%;
  margin-top: 320px;
}

.idea-card {
  width: 55%;
  height: 190px;
  margin: 10px auto 0 auto;
  overflow: auto;
}

.top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete {
  margin-top: 20px;
}

.bottom-wrapper {
  display: flex;
  flex-direction: row;
}

.upvote, .downvote {
  margin-right: 10px;
}

.quality {
  margin-left: 20px;
}

/* Media query */

@media screen and (max-width: 800px) {
  input {
    width: 80%;
  }
  .idea-card {
    width: 80%;
  }
}


